.nav {
    background-color: rgb(39, 38, 61);
    height: 75px;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
}

.nav .link {
    color: white;
    text-decoration: none;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.4em;
    margin-right: 2rem;;
}

.nav a {
border-radius: 5px;
color: white;
}

.nav a:hover {
    background: rgb(188, 183, 183);
    color: rgb(39, 38, 61);
}

.nav a:active {
    background: rgb(127, 117, 117);
}

.home {
    color: white;
    margin-left: 2rem;
    font-size: 2em;
    text-decoration: none;
    font-weight: 500;
}